
header {
    height: 0px;
    width: 100%;
    z-index: 999;
    position: fixed;
}

.header {
    position: relative;
    padding-top: 3vh;
    width: 100%;
    height: 10vh;
    background: #fff;
}

.header-container {
    width: 80%;
    height: 100%;
    max-width: 1400px;
    margin: auto;
}

.header-container > * {
    display: inline-block;
}

.header-logo-holder {
    position: relative;
    width: 290px;
}

.header-logo-holder::after {
    position: absolute;
    right: 0;
    top: 1.2vh;
    width: 2px;
    height: 6vh;
    background-color: #ccc;
    content: "";
}

.header-logo-holder .mbl-logo {
    margin-top: 1rem;
    margin: auto;
    width: 160px;
    display: none;
}

.header-container .mbl-menu {
    display: none;
    position: absolute;
    right: 3%;
    top: 0;
    bottom: 0;
    padding: 10px;
    margin: auto;
    height: fit-content;
}

.header-container .mbl-menu .open {
    color:#091b7b;
    font-size: 2rem;
}
.header-container .mbl-menu .close {
    color: #de1b0b;
    font-size: 1.4rem;
    display: none;
}

.header-logo-holder .logo-1 {
    height: 111px;
    width: 111px;
    object-fit: contain;
    top: -3vh;
    left: 0;
    position: absolute;
}

.header-logo-holder .logo-2 {
    width: 150px;
    height: 75px;
    object-fit: contain;
    right: 5%;
    margin: auto;
    position: absolute;
}

.header-nav-holder {
    width: fit-content;
    transform: translateY(6vh);
}

.header-nav-holder a {
    padding-left: 3.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.mbl-header-nav {
    display: none;
    position: absolute;
    left: 0;
    top: 8vh;
    width: 100%;
    background-color: #fff;
}

.mbl-header-nav-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgb(0 0 0 / 56%);
    z-index: -1;
}

.mbl-header-nav-container {
    width: 90%;
    margin: auto;
    text-align: center;
}

.mbl-header-nav-container .font-label {
    padding: 10px 0;
    color: #091b7b;
    border-bottom: 1px solid #bebebe;
}

.mbl-header-nav-container .mbl-header-nav-item {
    width: 100%;
    display: block;
    padding: 15px 0;
    margin-bottom: 1rem;
    background: #ebebeb;
    color: #707070;
    font-family: 'Roboto', sans-serif;
}
